@charset "utf-8";

/* 내용관리 */
#ctt {margin:10px 0;padding:20px;background:#fff}
.ctt_admin {text-align:right}
#ctt header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ctt_con {padding:10px 0;line-height:1.6em}
#ctt_con img{max-width:100%;height:auto}
.ctt_img {text-align:center}
#container {width: 100%;}
#inner_wrap .introduce_box {padding-left: 0;}

.sub_visual {
  background: url(/img/main/sub_visual.jpg) no-repeat center top;
}
.sub_visual {
  height: 275px;
  padding: 0px 10px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background-size: cover!important;
}
.ctt_admin {
  display: none;
}

section.sec1-1 .inner h2 {
  position: relative;
  font-family: "GmarketSansBold";
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: 2px;
  z-index: 1;
}
section.sec1-1.ani.active .inner h2 {
  animation: posX-40-up 1.8s ease both 0.2s;
}
section.sec1-1 .inner {
  padding-top: 30px;
  padding-bottom: 130px;
}
section.sec1-1 .inner ul {
  position: relative;
}
section.sec1-1 .inner ul li {
  /* position: absolute; */
  position: relative;
  left: 0;
  top: 10px;
  display: inline-block;
  padding-left: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
  font-weight: 400;
  letter-spacing: -1px;
}
section.sec1-1 .inner ul li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5px;
  width: 12px;
  height: 12px;
  border: 4px solid #c85912;
  border-radius: 100%;
}
section.sec1-1 .inner ul li.left {
  float: left;
}
section.sec1-1 .inner ul li.right {
  float: right;
}
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

section.sec0 {
  padding: 50px 0 0;
}
section.sec0 .inner table {
  margin: 0 auto;
}
section.sec0 .inner table td {
  line-height: 55px;
}
section.sec0 .inner table td:hover {
  font-weight: 500;
  border-bottom:solid 2px #101443 !important;
}
.digital .sec1 {
  padding: 99px 0 0;
  /* border-bottom: 1px solid black; */
}
.digital .sec2 .lists {
  padding-top: 99px;
  border-top: 1px solid #e2d6cf;
}
.digital .sec2 {
  padding-bottom: 100px;
}

.digital .sec1 .img_box {
  box-shadow: 0px 50px 100px 0px rgb(4 0 0 / 30%);
  position: relative;
  z-index: 99;
}
.digital .sec1 .img_box .wrap {
  position: relative;
}
.digital .sec1 .info {
  background: #f5f5f5;
  color: #18130f;
  box-shadow: none;
}
.digital .sec2 .lists ul li {
  width: 33.33%;
}
.btn {
  /* position: absolute; */
  right: 0;
  bottom: 0;
  display: table;
  width: 79px;
  height: 79px;
  text-align: center;
  background: #18130f;
}
.btn {
  animation: posX-40-up 1.8s ease both 1.5s;
  background-color: #f5f5f5;
  margin-top: 47px;
}
.btn:hover {
  cursor: pointer;
  background-color: #c85912;
}
.btn.close {
  background: #7a7a7a;
}
.btn.close a span {
  padding-bottom: 0;
  background: none;
}
/* .btn span {
  position: relative;
  padding-bottom: 28px;
  display: inline-block;
  font-size: 13px;
  color: #fff;
  letter-spacing: -0.5px;
  background: url(/common/img/main_sec3_arrow.png) center 30px no-repeat;
} */
.invitation_one{
  background: url(/common/img/conference2.jpg) center center no-repeat;
  background-size: cover;
  z-index: 99;
}
.btn span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  bottom: 0;
  width: 28px;
  height: 10px;
  margin: auto;
  background: url(/common/img/main_sec4_arrow.png) no-repeat;
}

.subpage-more-wrap{
  margin-top: 2.5rem;

  text-align: center;
}

.subpage-item-lists,
.subpage-item-lists .subpage-item,
.subpage-item-lists .subpage-link{
  display: inline-block;
}

.subpage-item-lists .subpage-link{
  padding: 1.25rem 1.875rem;

  font-weight: 600;
  color: #aaaaaa;
}

.subpage-item-lists .each-line:not(:last-child):after {
  height: 1.563rem;

  background-color: #cccccc;
}

/*****#####===== active =====#####*****/
.subpage-item-lists .subpage-item.active .subpage-link{
  font-weight: 700;
  color: #000000;
}

/*****#####===== ë¯¸ë””ì–´ ì¿¼ë¦¬ =====#####*****/
/***** lg ~ *****/
@media (min-width: 992px) {
  .subpage-item-lists{
      padding: 0 0.938rem;

      background-color: #ffffff;
      border-radius: 2.188rem;
      box-shadow: 0 0 20px 0 rgba(0, 74, 123, 0.2);
  }
}

/***** ~ md *****/
@media (max-width: 991.98px){
  .subpage-more-wrap{
      margin-left: -15px;
      margin-right: -15px;

      text-align: left;
  }

  .subpage-item-lists {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;

      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
  }

  .subpage-item-lists::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
  }

  .subpage-item-lists .subpage-item{
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
  }

  /*****##### active #####*****/
  .subpage-item-lists .subpage-item.active .subpage-link-text{
      display: inline-block;

      padding-bottom: 0.5rem;

      border-bottom: 2px solid #000000;
  }
}
.digital .sec1 .inner:after {display: none;}
.digital .sec1 .inner:before {display: none;}