@charset "utf-8";

/* 내용관리 */
#ctt {margin:10px 0;padding:20px;background:#fff}
.ctt_admin {text-align:right}
#ctt header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ctt_con {padding:10px 0;line-height:1.6em}
#ctt_con img{max-width:100%;height:auto}
.ctt_img {text-align:center}
#container {width: 100%;}
#inner_wrap .introduce_box {padding-left: 0;}

.sub_visual {
  background: url(/img/main/sub_visual.jpg) no-repeat center top;
}
.sub_visual {
  height: 275px;
  padding: 0px 10px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background-size: cover!important;
}
.ctt_admin {
  display: none;
}


.content {border-top: 1px solid #c5c5c5;margin-bottom: 140px;padding: 50px 40px;}
.content .tit {margin-bottom: 40px;font-size: 21px;color: #000;font-weight: 600;}
.content p {line-height: 1.7;font-size: 16px;color: #575757;}

/*0202 - 행사일정표*/
.schedule .tab-schedule {display: -ms-grid;display: grid;-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;-ms-grid-row:  1fr 1fr 1fr;grid-template-rows:  1fr 1fr 1fr;border-width: 0 1px 1px 0;border-style: solid;border-color: #ccc;-webkit-box-shadow: 4px 4px 10px 2px rgb(0 0 0 / 6%);box-shadow: 4px 4px 10px 2px rgb(0 0 0 / 6%);}
.schedule .tab-schedule>*:nth-child(1) {-ms-grid-row: 1;-ms-grid-column: 1;}
.schedule .tab-schedule>*:nth-child(2) {-ms-grid-row: 1;-ms-grid-column: 2;}
.schedule .tab-schedule>*:nth-child(3) {-ms-grid-row: 1;-ms-grid-column: 3;}
.schedule .tab-schedule>*:nth-child(4) {-ms-grid-row: 1;-ms-grid-column: 4;}
.schedule .tab-schedule>*:nth-child(5) {-ms-grid-row: 1;-ms-grid-column: 5;}
.schedule .tab-schedule>*:nth-child(6) {-ms-grid-row: 1;-ms-grid-column: 6;}
.schedule .tab-schedule>*:nth-child(7) {-ms-grid-row: 2;-ms-grid-column: 1;}
.schedule .tab-schedule>*:nth-child(8) {-ms-grid-row: 2;-ms-grid-column: 2;}
.schedule .tab-schedule>*:nth-child(9) {-ms-grid-row: 2;-ms-grid-column: 3;}
.schedule .tab-schedule>*:nth-child(10) {-ms-grid-row: 2;-ms-grid-column: 4;}
.schedule .tab-schedule>*:nth-child(11) {-ms-grid-row: 2;-ms-grid-column: 5;}
.schedule .tab-schedule>*:nth-child(12) {-ms-grid-row: 2;-ms-grid-column: 6;}
.schedule .tab-schedule>*:nth-child(13) {-ms-grid-row: 3;-ms-grid-column: 1;}
.schedule .tab-schedule>*:nth-child(14) {-ms-grid-row: 3;-ms-grid-column: 2;}
.schedule .tab-schedule>*:nth-child(15) {-ms-grid-row: 3;-ms-grid-column: 3;}
.schedule .tab-schedule>*:nth-child(16) {-ms-grid-row: 3;-ms-grid-column: 4;}
.schedule .tab-schedule>*:nth-child(17) {-ms-grid-row: 3;-ms-grid-column: 5;}
.schedule .tab-schedule>*:nth-child(18) {-ms-grid-row: 3;-ms-grid-column: 6;}
.schedule .tab-schedule .tab-list {border: 1px solid #ccc;border-bottom: 0;border-right: 0;}
.schedule .tab-schedule .tab-list a {display: block;width: 100%;height: 100%;padding: 15px;text-align: center;}
.schedule .tab-schedule .tab-list a:hover {background: #333;color: #fff;}
.schedule .tab-schedule .tab-list.on a {background: #333;color: #fff;}

.schedule h3 {padding: 90px 0 20px 0;font-size: 24px;color: #000;}
.schedule h3:first-child {padding-top: 0;}

table caption {text-indent:-100000px;font-size:0;line-height:0}
table caption p{margin: 0;line-height:0;font-size:0;}
.wrap-tbl {margin-bottom: 40px;}
.tbl {display:table;margin-bottom:10px;width:100%;border-top:1px solid #121212;border-bottom:1px solid transparent;border-collapse:separate;border-collapse:collapse;text-align: center;}
.tbl th, .tbl td {padding:12px 20px;border-left:1px solid transparent;border-bottom:1px solid transparent;margin-left:-1px;vertical-align:middle;word-wrap:break-word;word-break:keep-all;color:#555}
.tbl th:first-child, .tbl td:first-child {border-left:none}
.tbl tbody th, .tbl thead th {vertical-align:middle}
.tbl tbody th, .tbl tfoot th {background-image:none}
.tbl tbody th {color:#333;background-color:#fafbfc}
.tbl thead th {color:#333;font-size:15px;background-color:#f6f6f6;font-size:15px;font-family:'nsr','Malgun Gothic';color:#121212}
.tbl th[rowspan], .tbl td[rowspan] {border-right:1px solid #ccc}
.tbl th:last-child, .tbl td:last-child {border-right:0}
.tbl th, .tbl td {border-left-color:#ccc;border-bottom-color:#ccc;line-height: 1.6;}
.tbl td img {vertical-align:middle}
.tbl ul li {font-size: 15px;}
.tbl ul li:before {content: '';display: inline-block;width: 3px;height: 3px;margin: 4px;background: #777;border-radius: 50%;}
.tbl_type1 {border-top:1px solid #479796;}
.tbl_type1 thead th{background-color: #479796;color: #fff;}
.tbl_type1 td a {font-size: 18px;color: #000;line-height: 24px; word-break: keep-all;}
.tbl_type1 td a:hover{text-decoration: underline;}
.tbl_type1 td p.c_text {font-size: 14px;}
.tbl_type1 span.tag{width: 50px;height: 50px;display: block;font-size: 0;margin: 0 auto;padding: 0; background: url(/images/festival/main/ir_tag_prog.png) no-repeat;}
.tbl_type1 span.tag.type1{background-position: 0;}
.tbl_type1 span.tag.type2{background-position: -60px;}
.wrap-tbl-calendar .tbl th{padding: 8px 5px;}
.wrap-tbl-calendar .tbl th.point_bg{padding: 10px 5px;background-color: #479796;color:#fff;border-left-color: #6ab7b6;border-bottom-color: #6ab7b6;}

.wrap-tbl-calendar .tbl td {padding: 5px;}
.wrap-tbl-calendar .tbl td.bg-common {background-color: #fff6b6 !important;}
.txt-small {padding: 0!important;font-size: 13px;}
.bg-gj {color: #fff !important;font-size: 14px;background-color: #73aff9;}
.bg-gj-light {background-color: #c1ddff;}
.bg-by {color: #fff !important;font-size: 14px;background-color: #ff7ca8;}
.bg-by-light {background-color: #ffdce7;}
.bg-is {color: #fff !important;font-size: 14px;background-color: #45ca9a;}
.bg-is-light {background-color: #b4f5de;}
.schedule {
  width: 1200px;
  margin: 0 auto;
}

/* 내용관리 */
#ctt {margin:10px 0;padding:20px;background:#fff}
.ctt_admin {text-align:right}
#ctt header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ctt_con {padding:10px 0;line-height:1.6em}
#ctt_con img{max-width:100%;height:auto}
.ctt_img {text-align:center}
#container {width: 100%;}
#inner_wrap .introduce_box {padding-left: 0;}

.sub_visual {
  background: url(/img/main/sub_visual.jpg) no-repeat center top;
}
.sub_visual {
  height: 275px;
  padding: 0px 10px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background-size: cover!important;
}
.ctt_admin {
  display: none;
}

section.sec1-1 .inner h2 {
  position: relative;
  font-family: "GmarketSansBold";
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: 2px;
  z-index: 1;
}
section.sec1-1.ani.active .inner h2 {
  animation: posX-40-up 1.8s ease both 0.2s;
}
section.sec1-1 .inner {
  padding-top: 30px;
  padding-bottom: 130px;
}
section.sec1-1 .inner ul {
  position: relative;
}
section.sec1-1 .inner ul li {
  /* position: absolute; */
  position: relative;
  left: 0;
  top: 10px;
  display: inline-block;
  padding-left: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
  font-weight: 400;
  letter-spacing: -1px;
}
section.sec1-1 .inner ul li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5px;
  width: 12px;
  height: 12px;
  border: 4px solid #c85912;
  border-radius: 100%;
}
section.sec1-1 .inner ul li.left {
  float: left;
}
section.sec1-1 .inner ul li.right {
  float: right;
}
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

section.sec0 {
  padding: 50px 0 0;
}
section.sec0 .inner table {
  margin: 0 auto;
}
section.sec0 .inner table td {
  line-height: 55px;
}
section.sec0 .inner table td:hover {
  font-weight: 500;
  border-bottom:solid 2px #101443 !important;
}
section.sec0 .inner table {
  /* width: 100%; */
}

section.sec1-1 .inner h2 {
  position: relative;
  font-family: "GmarketSansBold";
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: 2px;
  z-index: 1;
}
section.sec1-1.ani.active .inner h2 {
  animation: posX-40-up 1.8s ease both 0.2s;
}
section.sec1-1 .inner {
  padding-top: 30px;
  padding-bottom: 130px;
}
section.sec1-1 .inner ul {
  position: relative;
}
section.sec1-1 .inner ul li {
  /* position: absolute; */
  position: relative;
  left: 0;
  top: 10px;
  display: inline-block;
  padding-left: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
  font-weight: 400;
  letter-spacing: -1px;
}
section.sec1-1 .inner ul li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5px;
  width: 12px;
  height: 12px;
  border: 4px solid #c85912;
  border-radius: 100%;
}
section.sec1-1 .inner ul li.left {
  float: left;
}
section.sec1-1 .inner ul li.right {
  float: right;
}
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

section.sec0 {
  padding: 50px 0 0;
}
section.sec0 .inner table {
  margin: 0 auto;
}
section.sec0 .inner table td {
  line-height: 55px;
}
section.sec0 .inner table td:hover {
  font-weight: 500;
  border-bottom:solid 2px #101443 !important;
}
.bg-is-purple {
  background-color: #673ab759;
}

@media screen and (max-width: 1200px) {
  .schedule {
    width: 100%;
  }
}

@media screen and (max-width: 765px) and (min-width: 300px){
  .table-container{
     width:100%;	
     overflow-x:auto;
    white-space: nowrap;
    }
     
    .table-container table{
      width:auto;
   } 
}
::-webkit-scrollbar:vertical { width: 12px; } 
::-webkit-scrollbar { -webkit-appearance: none; } 
::-webkit-scrollbar:horizontal { height: 15px; } 
::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, .5); border-radius: 10px; border: 1px solid #ffffff; } 
::-webkit-scrollbar-track { border-radius: 10px; background-color: #ffffff; }
section.sec0 .inner table {
  /* width: 100%; */
}